.login__container {
    height: 100vh;
    background-color: black;
    position: relative;
}

.login__container .login__container_left {
    background-color: #1A1C1E;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #f1f1f1;
}

.login__container .login__container_right {
    height: 100vh;
    position: relative;
    background: url("../../images/backgrounds/doggy-vetcontrol.jpg");
    background-size: cover;
}

.login__container .login__container_right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s ease;
}

.login__container .login__container_right:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
}

.login__container_form {
    width: 80%;
    text-align: left;
    justify-content: center;
}

.login__logo {
    width: 400px;
}

.login__container_form h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-top: -30px;
    line-height: 100%;
    margin-bottom: 30px;
}

.login__container_form p {
    font-size: 1.2rem;
}

.login__input {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 30px 0px 20px 0px;
    padding: 20px;
    padding-inline: 5px;
}

.login__input svg {
    font-size: 1.5rem;
    color: #f1f1f1;
    width: 5%;
    transition: .3s all;
}

.login__input input {
    width: 95%;
    border: none;
    background-color: #1A1C1E;
    color: #f1f1f1;
}

.login__input input:-webkit-autofill,
.login__input input:-webkit-autofill:hover, 
.login__input input:-webkit-autofill:focus, 
.login__input input:-webkit-autofill:active{
    -webkit-background-clip: #1A1C1E;
    -webkit-text-fill-color: #f1f1f1;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #1A1C1E !important;
}

.login__input input::placeholder {
    color: #f1f1f1;
}

.login__input input:focus {
    outline: none;
    background-color: #1A1C1E;
}

.login__buton {
    width: auto;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    padding-inline: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.icon-active {
    color: var(--blue-post-medium) !important;
}

